.show-for-mobile {
  @media (min-width: 45rem) {
    display: none;
  }
}

.show-for-desktop {
  @media (max-width: 45rem - 0.01rem) {
    display: none;
  }
}

.list-header {
  background: #f7f7f7;
  display: flex;
  color: #333;
  justify-content: space-between;
  border: 1px solid darken(#f7f7f7, 7%);
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.list-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 2rem;
  padding: 1.5rem;
  font-weight: 100;
  border: 1px solid darken(#f7f7f7, 7%);
  border-top: none;
  &:hover {
    background: none;
  }
}
