body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  /* font-family: -apple-system, BlinkMacSystemFont, "Fira Sans Regular",
    "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
